.row
  .col-md-8.col-md-offset-2
    %h1
      Index
      %button.btn.btn-primary{type: "button", 'data-toggle': "collapse", 'data-target': "#add-link", 'aria-expanded': "false", 'aria-controls': "add-link"} Add Link
.row.collapse#add-link
  .col-md-12
    %form{action: "/add", method: "POST"}
      .form-group
        %label Title
        %input.form-control{type: "text", placeholder: "Title", name: "title"}
      .form-group
        %label Link
        %input.form-control{type: "text", placeholder: "http://", name: "link"}
      .form-group
        %label Comment
        %textarea.form-control{rows: 5, name: "comment"}
      %button.btn.btn-default{type: "submit"}Add
.row
  .col-md-8.col-md-offset-2
    %hr/
    .list-group
      - @bookmarks.each do |bk|
        .list-group-item
          %h4.list-group-item-heading
            %a{href: bk[:link]}
              = bk[:title]
            %small.date{iso8601date: bk[:added_at].iso8601}
          - if bk[:comment].length > 0
            %blockquote.list-group-item-text
              :markdown
                #{bk[:comment]}

:javascript
  $(".date").each(function(idx, d) {
    d.innerText = moment(d.attributes["iso8601date"].textContent, moment.ISO_8601).fromNow();
  });
